* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --white: #ececec;
  --orange: rgba(242, 148, 0, 255);
  --brown: rgba(75, 47, 27, 255);
  --black: rgba(0, 0, 0, 255);
  --blue: rgb(12, 51, 132);
  --shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  --color-secondary-light: #ffb900;
  --color-secondary-dark: #ff7730;

  --color-tertiary-light: #4437c0;
  --color-tertiary-dark: #5643fa;
}

:root {
  --color-primary: #6f6af8;
  --color-white: #fff;
  --color-red: rgb(255, 63, 63);
  --color-gray-100: hsl(220, 20%, 10%, 5%);
  --color-gray-200: hsl(220, 20%, 10%, 10%);
  --color-gray-300: hsl(220, 20%, 10%, 25%);
  --color-gray-500: hsl(220, 20%, 10%, 50%);
  --color-gray-700: #252542;
  --color-gray-900: #0c0c22;

  --color-bg: hwb(240 95% 0%);

  --transition: all 0.3s ease;

  --container-width-lg: 84%;
  --container-width-md: 92%;
  --form-width: 50%;

  --radius-1: 0.3rem;
  --radius-2: 0.6rem;
  --radius-3: 1rem;
  --radius-4: 2rem;
}

body {
  font-family: Mulish;
  background-color: rgba(244, 243, 242, 255);
  color: var(--black);
  font-size: 5rem;
  line-height: 1.5;
  overflow-x: hidden;
  text-align: justify;
}

.logo {
  margin: 1rem;
  width: 120px;
}

.main-contact-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  gap: 5rem;
  width: 80%;
  margin-bottom: 5rem;
  border-bottom: 2px solid var(--blue);
}

.main-contact-section a {
  text-align: center;
  width: 100%;
  height: 4rem;
  font-size: 2rem;
  text-decoration: none;
  transition: 0.5s;
  margin-bottom: 1rem;
}

.quality-section > div a {
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
}

.navigation__link span {
  font-size: 2rem;
}

.main-contact-section a:hover {
  transform: translateY(-0.5rem);
}

.main-contact-section:visited {
  color: var(--orange);
}

.section-tours {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 2rem;
}

.col-1-of-3 {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.section-tours-title {
  margin: 2rem;
}

.section-tours-title h3,
.professionalism-section h3,
.quality-section h2 {
  font-size: 2rem;
  color: var(--orange);
}

.section-tours-title h1,
.professionalism-section h2 {
  font-size: 5.5rem;
  color: var(--brown);
}

.section-tours-title p,
.professionalism-section p {
  font-size: 2rem;
}

.section-tours-title strong {
  font-size: 2.2rem;
}

.professionalism-section {
  position: relative;
  width: 100%;
  gap: 2rem;
  margin: 0 auto;
  padding: 2rem;
}

.professionalism-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
  width: 100%;
}

.container-tools {
  position: relative;
  margin: 0 auto;
}

.container-tools div {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.container-tools img {
  width: 30rem;
  border-radius: 2rem;
}

.img2 {
  margin-left: 2rem;
}

.container-tools .img3 {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 400px;
  height: auto;
}

.clientes {
  height: 300px;
}

/*Slide Comentarios Clientes*/

#slider-container {
  max-width: 600px;
  margin: auto;
  overflow: hidden;
  background-color: var(--brown);
}

#slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
}

.SlideLogo {
  height: 50vh;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.heading {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  color: var(--brown);
  position: relative;
  margin-top: 3rem;
  font-size: 5rem;
}

.buttonSlide {
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 20px;
  padding: 10px;
}

.carousel-container {
  width: 90%;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.logos {
  display: flex;
  animation: scroll 15s linear alternate infinite;
}

.logoMarca {
  width: 170px;
  height: 80px;
  background: transparent;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-170px * 10));
  }
}

.quality-section {
  background-color: var(--brown);
  padding: 2rem;
  font-size: 5.5rem;
  margin-top: 5rem;
  text-align: justify;
}

.quality-section h3 {
  font-size: 4rem;
  margin-bottom: 3rem;
  color: var(--orange);
}

.quality-section h2,
.quality-section p {
  color: var(--white);
}

.quality-section h2 {
  font-size: 2rem;
}

.quality-section > article {
  width: 100%;
}

.article-main {
  display: flex;
  gap: 5rem;
  font-size: 3rem;
  line-height: 1.75;
}

.article-main img {
  width: 100rem;
  border-radius: 10%;
}

.quality-section > article > div p strong {
  font-size: 2.2rem;
}

.quality-section > div a {
  color: white;
}

.check-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  margin-top: 4rem;
  justify-content: center;
  align-items: center;
}

.check-element {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.check-element p {
  font-size: x-large;
}

.check-element img {
  width: 20px;
}

.meet-us {
  background-color: var(--orange);
  position: relative;
  padding: 8rem;
  height: 50vh;
  margin-bottom: 15rem;
}

.meet-us h2 {
  color: var(--white);
  font-size: 3.5rem;
  font-weight: bold;
  text-align: left;
}

.meet-us h3 {
  color: var(--brown);
  font-size: 2.5rem;
  width: 100%;
}

.right-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  width: 100%;
}

.meet-us a {
  background-color: var(--brown);
  color: var(--white);
  text-decoration: none;
  margin: 0 auto;
  font-size: 2rem;
  padding: 2rem;
  border-radius: 2rem;
  transition: all 0.2s;

  &:hover {
    transform: scale(1.1);
  }
}

.meet-us__img-container {
  margin-top: 5rem;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.7rem;
}

.meet-us__img-container img {
  border-radius: 2rem;
}

.customers-reviews-section {
  background-color: var(--brown);
  height: 50vh;
  padding: 5rem;
}

.customers-reviews-section h2 {
  font-size: 4rem;
  color: #ffffff;
  margin-top: 8rem;
}

.paragraph {
  color: white;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 4rem;
}

.last-section {
  height: 50vh;
  background-color: var(--white);
}

footer {
  background-color: var(--brown);
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  color: var(--white);
  font-size: 2.2rem;
  padding: 2rem;
}

footer h2 {
  font-size: 2.3rem;
  color: var(--orange);
  text-align: center;
}

footer div {
  border-left: solid var(--orange);
  padding-left: 2rem;
}

.col1 {
  width: 100%;
  line-height: 2;
}

.col1 p {
  margin-top: 2rem;
}

.col2 div {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  border: none;
  gap: 2rem;
}

.col3 {
  margin-left: 2rem;
  width: 100%;
}

footer > div a {
  font-size: 1.8rem;
  color: white;
  text-decoration: none;

  &:hover {
    color: var(--color-secondary-dark);
    text-decoration: underline;
  }
}

footer > div p {
  font-size: 1.8rem;
  color: white;
}

.copy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10vh;
  background-color: #3f2714;
}

.copy p {
  color: white;
  padding: 2rem;
  font-size: 2rem;
}

.copy a {
  color: var(--color-secondary-dark);
  font-size: 2rem;
  text-decoration: none;
  padding: 2rem;

  &:hover {
    text-decoration: underline;
    color: #ff9b66;
  }
}

.about-us {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  gap: 9rem;
  padding: 15rem;
  font-size: 2.5rem;

  & img {
    width: 55rem;
    height: auto;

    grid-row: 1 / 2;
    grid-column: 2 / 3;
    align-self: center;
    border-radius: 5px;
    margin-top: 10rem;
  }

  & .col-about-1 h1 {
    font-size: 4rem;
    margin-top: 3rem;
    color: #ff7730;
  }

  & .col-about-1 h3 {
    font-size: 2rem;
    color: #3f2714;
  }

  & .col-about-1 p {
    font-size: 2rem;
    line-height: 1.75;
    text-align: justify;
    margin-top: 3rem;
  }

  & a {
    margin-top: 5rem;
    border: 1px solid;
    width: 15rem;
    height: 7rem;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #ff7730;
    font-weight: bold;
    border-radius: 10px;
    transition: all 0.5s;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      transform: scale(1.1);
      background-color: #3f2714;
    }
  }
}

@media screen and (max-width: 768px) {
  .about-us {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 5rem;
  }

  .h3-about {
    text-align: center;
  }

  .h1-about {
    text-align: center;
  }

  .about-us img {
    width: 100%;
    margin-top: 0;
  }
}

@media screen and (width=820px) {
  .about-us {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 5rem;
  }

  .h3-about {
    text-align: center;
  }

  .h1-about {
    text-align: center;
  }

  .about-us img {
    width: 100%;
    margin-top: 0;
  }
}

/* CARDS */

.row {
  /* padding: 25rem 0 50rem 0;
      margin-top: -10rem; */
  display: grid;
  margin: 10rem 0 10rem 10rem;
  grid-template-columns: repeat(auto-fit, minmax(45rem, 1fr));
  gap: 4rem;
}

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 35rem;
}

.card__side {
  border: 1.5px solid black;
  height: 35rem;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}

.card__side--front {
  background-color: #fff;
}

.card__side--back {
  transform: rotateY(180deg);
}

.card__side--back-1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}

.card:hover .card__side--front {
  transform: rotateY(-180deg);
}

.card:hover .card__side--back {
  transform: rotateY(0);
}

.card__heading {
  font-size: 2.8rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: right;
  color: #fff;
  position: absolute;
  top: 12rem;
  right: 2rem;
  width: 75%;
}

.card__heading-span {
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.card__heading-span--1 {
  background-image: linear-gradient(
    to right bottom,
    rgba(255, 185, 0, 0.85),
    rgba(255, 119, 48, 0.85)
  );
}

.card__heading-span--2 {
  background-image: linear-gradient(
    to right bottom,
    rgba(126, 213, 111, 0.85),
    rgba(40, 180, 133, 0.85)
  );
}

.card__heading-span--3 {
  background-image: linear-gradient(
    to right bottom,
    rgba(41, 152, 255, 0.85),
    rgba(86, 67, 250, 0.85)
  );
}

.card__details {
  padding: 1rem;
  text-align: center;
}

.card__details h3 {
  font-size: 2.6rem;
  text-align: center;
}

.card__details img {
  width: 8rem;
  height: auto;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.card__details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}

.card__details ul li {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}

.card__details ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}

.card__price-box {
  text-align: center;
  color: #fff;
}

.card__price-only {
  margin-top: 3rem;
  font-size: 2rem;
  text-transform: uppercase;
}

.card__price-value {
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: 100;
}

.btn,
.btn:link,
.btn:visited {
  margin-top: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 2rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--color-bg);
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

@media screen and (width < 769px) {
  .card__details h3 {
    font-size: 2rem;
  }

  .card__price-only {
    font-size: 1.8rem;
  }

  .card__price-value {
    font-size: 1.5rem;
  }
}

@media screen and (width < 480px) {
  .card__details h3 {
    font-size: 1.7rem;
  }

  .card__price-only {
    font-size: 1.7rem;
  }

  .card__price-value {
    font-size: 1.4rem;
  }
}

/* CONTACT */

header img {
  margin: 5rem;
  width: 100px;
}

.navigation__link {
  font-size: 1rem;
}

.navigation__link span {
  font-size: 2rem;
}

.header-contact {
  position: relative;
  height: 50vh;
  background-image: url(./images/toolstore/ferreteriaContacto.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 15rem;

  & h1 {
    position: relative;
    color: white;
    font-size: 7rem;
  }

  & button {
    margin-top: 3rem;
    width: 13rem;
    height: 6rem;
    position: relative;
    border-radius: 10px;
    transition: all 0.5s;

    &:hover {
      transform: scale(1.1);
    }
  }
}

#map {
  margin-top: 5rem;
  height: 550px;
  width: 45%;
}

.header-contact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.contact-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 90px;

  padding: 30px;
}

@media (max-width: 768px) {
  /* .container {
        grid-template-columns: repeat(1, 1fr);
    } */
  .contact-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .form-section {
    width: 100%;
    padding: 1rem;
  }
}

.image-container {
  text-align: center;
}

.image-container img {
  margin-inline: auto;

  width: 7rem;
  height: 7rem;
  border-radius: 50%;
}

.image-container p {
  font-size: 2rem;
}

.image-container h2 {
  font-size: 3rem;
  margin-top: 10px;
  color: rgba(75, 47, 27, 255);
  font-size: bold;
  margin-bottom: 10px;
}

.imgFerreteria {
  width: 700px;
  height: 400px;
}

.form-container {
  width: 70rem;
  margin: 50px auto;
  color: black;
}

.form-section {
  display: flex;
  padding: 10rem;
  gap: 4rem;
}

.form-contact {
  background-color: #eee8e8;
  border: 1px solid #e5e5e5;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  font-size: 3rem;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 2rem;
}

legend {
  border-bottom: 1px solid rgba(75, 47, 27, 255);
  font-size: 2.5rem;
  margin-bottom: 3rem;
  color: rgba(242, 148, 0, 255);
}

input,
textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  resize: none;
  height: 100px;
}

input:focus,
textarea:focus {
  outline-color: rgba(242, 148, 0, 255);
}

button {
  background-color: rgba(242, 148, 0, 255);
  color: var(--blue);
  padding: 3px 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 2rem;
  transition: all 0.5s;

  &:hover {
    background-color: var(--color-secondary-light);
    transform: scale(1.1);
  }
}

footer {
  background-color: rgba(75, 47, 27, 255);
  padding: 2rem;
  gap: 4rem;
}

footer > div a {
  color: white;
  text-decoration: none;

  &:hover {
    color: var(--color-secondary-dark);
    text-decoration: underline;
  }
}

.copy {
  height: 10vh;
  background-color: #3f2714;
}

.copy p {
  color: white;
  margin-left: 30rem;
  padding: 2rem;
  font-size: 2rem;
}

.copy a {
  color: #ff7730;
  font-size: 2rem;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: #ff9b66;
  }
}

/* NUEVOS */

a {
  color: var(--blue);
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-gray-900);
  line-height: 1.1;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 1.9rem;
}

h3 {
  font-size: 1.3rem;
  line-height: 1.25;
}

h4 {
  font-size: 1.1rem;
}

h4 {
  line-height: 1.4;
}

img {
  display: block;
  object-fit: cover;
  width: 100%;
}

section {
  margin-top: 6rem;
}

.container {
  width: var(--container-width-lg);
  margin-inline: auto;
  align-items: center;
}

.card__price-only {
  color: var(--blue);
}

.btn {
  display: inline-block;
  font-size: 1.1rem !important;
  width: fit-content;
  padding: 0.8rem 1.5rem;
  margin-top: 0.5rem;
  border-radius: var(--radius-2);
  background: var(--color-white);
  font-weight: 500;
  cursor: pointer;
  transition: var(--transition);
  margin-bottom: 2rem;
}

.btn.sm {
  background: var(--color-secondary-light);
  color: var(--color-white);
}

.btn.primary {
  background: var(--color-secondary-dark);
  color: var(--color-white);
}

.btn.category {
  background: var(--color-bg);
  color: var(--color-primary);
  font-size: 0.75rem;
  font-weight: 400;
  padding: 1.2rem;
}

.btn.sm {
  font-size: 0.8rem;
  padding: 0.3rem 0.7rem;
  font-weight: 400;
}

.btn.danger {
  background: var(--color-red);
  color: var(--color-white);
}

.btn:hover {
  background: var(--color-secondary-light);
  color: var(--color-white);
}

.center {
  text-align: center;
  padding-top: 5rem;
  margin-inline: center;
  display: block;
  width: 100%;
}

.error-page h2 {
  margin-top: 2rem;
}

nav {
  width: 100vw;
  display: grid;
  place-items: center;
  z-index: 1;
  border-bottom: 4px solid var(--color-bg);
  backdrop-filter: blur(20px);
}

.nav__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.nav__logo {
  width: 5rem;
  display: block;
}

.nav__menu {
  margin-right: 2rem;
  padding: 2rem;
  display: flex;
  justify-content: right;
  align-items: center;
  color: var(--blue);
  transition: var(--transition);
}

.nav__menu li {
  font-size: 2.5rem;
  margin: 2rem;
  border-radius: 1rem;
  padding: 0.3rem 1rem;
  font-weight: bold;
  transition: 0.5s;
  border-radius: 1rem;
}

.nav__menu a {
  width: 100%;
  color: var(--blue);
  font-size: 1.5rem;

  &:hover {
    color: var(--color-secondary-dark);
  }
}

.nav__menu li:hover {
  transform: scale(1.05);
}

.nav__toggle-btn {
  display: none;
}

/* REGISTER AND FORM  */

/* ------------------------- REGISTER & FORM STYLES ------------------------- */

.form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

input,
select,
textarea {
  width: 100%;
  padding: 1.2rem 1.5rem;
  border-radius: var(--radius-1);
  resize: none;
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

select {
  border: 1px solid #d1d1d1;
}

input::placeholder,
select::placeholder,
textarea::placeholder {
  color: var(--color-gray-500);
  font-size: 1rem;
}

input::placeholder,
textarea::placeholder {
  font-size: 1.4rem;
}

input:focus::placeholder,
select:focus::placeholder,
textarea:focus::placeholder {
  color: transparent;
}

.form__error-message {
  background: var(--color-red);
  color: var(--color-white);
  font-size: 1.2rem;
  padding: 0.9rem 1.2rem;
  border-radius: var(--radius-1);
  display: block;
  margin-bottom: 0.5rem;
}

.register,
.login,
.create-product {
  width: var(--form-width);
  margin-inline: auto;
  height: calc(100vh - 12rem);
  display: grid;
  place-items: center;
}

.create-product {
  height: auto;
}

.create-product button {
  margin-top: -3rem;
}

.create-product input[type="file"] {
  margin-top: -3rem;
  margin-left: -1.5rem;
}

.select-category {
  font-size: 1.4rem;
}

.register h2,
.login h2,
.create-product h2 {
  margin-bottom: 1rem;
}

.register small,
.login small {
  display: block;
  margin-top: 0.5rem;
  font-size: 1.2rem;
}

.register small a,
.login small a {
  color: var(--color-secondary-dark);
  font-size: 1rem;
}

/* ------------------------- PASSWORD STRENGTH ------------------------- */

/* .control {
    width: 100%;
    height: 56px;
    padding: 0 16px;
    color: inherit;
    background: #181919;
    border: 0;
    border-radius: 6px;
    margin: 8px 0;
    font-family: inherit;
    font-size: 18px;
    transition: .4s;
} */

input.control::placeholder {
  color: #9f9d9e;
}

.strength {
  text-align: left;
  height: 30px;
  text-transform: capitalize;
  color: #868b94;
  font-size: 1.2rem;
}

.bars {
  margin: 8px 0;
  display: flex;
  align-items: center;
  gap: 8px;
  height: 6px;
  border-radius: 3px;
  background: rgba(244, 243, 242, 255);
}

.bars div {
  height: 6px;
  border-radius: 3px;
  transition: 0.4s;
  width: 0;
}

.bars.debil {
  background: #e24c71;
  width: 33.33%;
}

.bars.segura {
  background: #f39845;
  width: 66.66%;
}

.bars.fuerte {
  background: #57c558;
  width: 100%;
}

/* ------------------------- PROFILE ------------------------- */

.profile__container {
  display: grid;
  place-items: center;
  text-align: center;
}

.profile__details {
  width: 100%;
}

.avatar__wrapper {
  width: 20rem;
  aspect-ratio: 1/1;
  position: relative;
  margin-inline: auto;
  margin-top: 1rem;
}

.profile__avatar {
  height: 100%;
  border-radius: 50%;
  border: 1rem solid var(--color-white);
  overflow: hidden;
}

.avatar__form {
  height: 1rem;
}

.avatar__form input {
  visibility: hidden;
}

.avatar__form label,
.profile__avatar-btn {
  background: var(--color-gray-900);
  color: var(--color-white);
  font-size: 2.2rem;
  position: absolute;
  right: 2rem;
  bottom: 1.4rem;
  width: 3.5rem;
  height: 3.5rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  cursor: pointer;
}

.profile__avatar-btn {
  cursor: pointer;
  padding: 0;
  background: var(--color-secondary-dark);
}

.profile__details h1 {
  margin-top: 1.5rem;
}

.form.profile__form {
  margin-top: 1rem;
  margin-inline: auto;
  width: var(--form-width);
}

.form.profile__form input {
  margin-bottom: -1.5rem;
}

/* ------------------------- DASHBOARD ------------------------- */

.dashboard__container {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  height: 70vh;
  margin-bottom: 6rem;
  width: 100%;
}

.dashboard__product {
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  gap: 1rem;
  background: var(--color-white);
  padding: 0.5rem 1.2rem;
  border-radius: var(--radius-3);
}

.dashboard__product-info {
  display: flex;
  gap: 2rem;
  width: 100%;
  align-items: center;
}

.dashboard__product-thumbnail {
  width: 8rem;
  border-radius: var(--radius-1);
  overflow: hidden;
}

.dashboard__product-actions {
  display: flex;
  gap: 1rem;
}

@media screen and (width=820px) {
  .dashboard__product {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    gap: 1rem;
    padding: 0.4rem 0.7rem;
  }
}

/* ------------------------- PRODUCTS ------------------------- */

.products__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}

.product {
  background: var(--color-white);
  padding: 1rem;
  border-radius: var(--radius-4);
  padding-bottom: 2rem;
  transition: var(--transition);
  cursor: default;
}

.product:hover {
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.1);
}

.product__thumbnail {
  border-radius: var(--radius-3);
  overflow: hidden;
  height: 16rem;
}

.product__content {
  margin-top: 1.5rem;
}

.product__content h3 {
  margin: 1rem 0 0.6rem;
}

.product__footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 2rem;
}

.product__author {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}

.product__author-avatar {
  width: 2.5rem;
  aspect-ratio: 1/1;
  border-radius: var(--radius-2);
  overflow: hidden;
}

/* ------------------------- PRODUCTS ------------------------- */

.products__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}

.product {
  background: var(--color-white);
  padding: 1rem;
  border-radius: var(--radius-4);
  padding-bottom: 2rem;
  transition: var(--transition);
  cursor: default;
  margin-bottom: 3rem;
}

.product:hover {
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.1);
}

.product__thumbnail {
  border-radius: var(--radius-3);
  overflow: hidden;
  height: 16rem;
}

.product__content {
  margin-top: 1.5rem;
}

.product__content h3 {
  margin: 1rem 0 0.6rem;
  font-size: 1.5rem;
  text-align: center;
  border-bottom: 1px solid var(--color-gray-300);
}

.product p:not(:nth-child(2)) {
  font-size: 1.3rem;
  display: block;
  margin: 0.5rem auto;
  text-align: center;
}

.product__footer {
  display: grid;
  /* justify-content: space-between;
    align-items: flex-end; */
  grid-template-areas:
    "category category price"
    "buy buy buy";
  margin-top: 2rem;
}

.btn.primary.buy {
  grid-area: buy;
  width: 100%;
}

.price {
  grid-area: price;
  width: 8rem;
  place-self: center;
  font-size: 1.5rem;
  text-align: center;
}

.btn.category.product-category {
  grid-area: category;
  width: 100%;
  margin-bottom: 1rem;
  text-align: center;
}

.products.category {
  min-height: 72vh;
}

@media screen and (width<769px) {
  .products__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (width<480px) {
  .products__container {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* ------------------------- PRODUCT DETAIL ------------------------- */

.product-detail {
  width: var(--form-width);
  background: var(--color-white);
  margin-inline: auto;
  padding: 2rem 0;
  margin-bottom: 4rem;
}

.product-detail__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.product-detail__buttons {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.product-detail__thumbnail {
  margin: 1rem 0;
  height: fit-content;
  max-height: 30rem;
  overflow: hidden;
}

.product-detail p {
  margin-bottom: 0.7rem;
  font-size: 1.2rem;
  display: inline-block;
  margin-inline: auto;
}

.product-detail p:last-of-type {
  display: flex;
  justify-content: flex-end;
  text-decoration: underline;
  margin-top: 2rem;
  font-size: 3rem;
}

/* ------------------------- MEDIA QUERIES (SMALL DEVICES) ------------------------- */

@media screen and (width < 1025px) {
  .section-tours {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .section-tours-title h1,
  .professionalism-section h2 {
    font-size: 4rem;
    color: var(--brown);
  }

  .section-tours-title p,
  .professionalism-section p {
    font-size: 1.8rem;
  }

  .section-tours-title strong {
    font-size: 2rem;
  }

  .section-tours-title p,
  .professionalism-section p {
    font-size: 1.6rem;
  }

  .container-tools img {
    width: 20rem;
    border-radius: 2rem;
  }

  .container-tools .img3 {
    width: 250px;
  }

  .article-main img {
    display: none;
  }

  .quality-section > article > h3 {
    font-size: 3.5rem;
  }

  .quality-section > article > div p {
    font-size: 1.6rem;
  }

  .quality-section > article > div p strong {
    font-size: 1.8rem;
  }

  .check-element p {
    font-size: x-large;
  }

  .meet-us h2 {
    font-size: 3rem;
  }

  .meet-us h3 {
    font-size: 2rem;
  }

  .meet-us a {
    font-size: 1.5rem;
  }

  footer h2 {
    font-size: 1.5rem;
  }

  footer > div a {
    font-size: 1.3rem;
  }

  footer > div p {
    font-size: 1.3rem;
  }

  .copy p {
    font-size: 1rem;
  }

  .copy a {
    font-size: 1rem;
  }
}

.active {
  top: 0;
}

.nav__menu.active {
  transition: all 1s ease;
}

@media (max-width: 1135px) {
  .nav__toggle-btn {
    margin: 2rem;
    display: inline-block;
    background: transparent;
    border: none;
    font-size: 3.2rem;
    cursor: pointer;
    z-index: 1000000;
  }

  nav {
    position: relative;
  }

  .nav__menu {
    margin-top: 2rem;
    position: absolute;
    top: -40%;
    right: -3rem;
    left: 0;
    flex-direction: column;
    align-items: center;
    z-index: 1000000;
    height: fit-content;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    background-color: var(--orange);
    animation: slide 1s ease-in-out;
  }

  

  .nav__menu li {
    animation: dropDown 0.5s ease forwards;
    opacity: 0;
    top: 2rem;
    transform: rotateX(90deg);
    transform-origin: top;
    text-align: center;
    background-color: none;
    margin-bottom: 2px;
    border-radius: 1rem;
    padding: 0;

    & a {
      color: var(--white);
      font-size: 1.5rem;
    }

    &:hover {
      background-color: var(--blue);
    }

    & a:hover {
      color: var(--white);
    }
  }

  @keyframes dropDown {
    to {
      opacity: 1;
      transform: rotateX(0);
    }
  }

  @keyframes slide {
    from {
      transform: translateY(-100%)
    }
    to {
      transform: translateY(0);
    }
  }

  .nav__menu li:nth-child(2) {
    animation-delay: 0.3s;
  }

  .nav__menu li:nth-child(3) {
    animation-delay: 0.6s;
  }

  .nav__menu li:nth-child(4) {
    animation-delay: 0.9s;
  }

  .nav__menu li:nth-child(5) {
    animation-delay: 1.2s;
  }

  .nav__menu li:nth-child(6) {
    animation-delay: 1.5s;
  }

  .nav__menu li:nth-child(7) {
    animation-delay: 1.8s;
  }

  .nav__menu li:nth-child(8) {
    animation-delay: 2.1s;
  }

  .nav__menu li a {
    padding: 0.85rem 2.5rem;
    margin-right: 8rem;
    text-decoration: none;
    transition: 0.5s;
    margin: 0 auto;
  }

  .nav__menu li a:hover {
    transform: scale(1.1);
  }

}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  h3 {
    font-size: 1.35rem;
  }

  /* .container {
        width: var(--container-width-md);
    } 

    /* NAVBAR */

  
 

  .product__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .footer__categories {
    flex-direction: column;
  }

  .product-detail {
    width: 100%;
    background: transparent;
    padding: 0;
  }

  .product-detail h1 {
    margin-top: 1rem;
  }

  .register,
  .login,
  .create-product {
    width: 100%;
  }

  .form.profile__form {
    margin-top: 2.5rem;
    width: 100%;
  }

  .authors__container {
    grid-template-columns: 1fr;
    gap: 1.2rem;
  }

  .dashboard__product {
    flex-direction: column;
  }

  .dashboard__product-info {
    gap: 1.5rem;
  }

  .dashboard__product-thumbnail {
    width: 5rem;
  }
}

@media screen and (width < 769px) {
  .logo {
    width: 80px;
  }

  .main-contact-section a {
    font-size: 1.7rem;
  }

  .section-tours-title h1,
  .professionalism-section h2 {
    font-size: 3rem;
    color: var(--brown);
  }

  .section-tours-title p,
  .professionalism-section p {
    font-size: 1.5rem;
  }

  .professionalism-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .section-tours-title strong {
    font-size: 1.8rem;
  }

  .quality-section > article > h3 {
    font-size: 3rem;
  }

  .quality-section > article > div p {
    font-size: 1.5rem;
  }

  .quality-section > article > div p strong {
    font-size: 1.7rem;
  }
}

@media screen and (width < 492px) {

  .main-contact-section {
    width: 100%;
  }

  .main-contact-section a {
    font-size: 1.2rem;
  }

  .section-tours-title h1,
  .professionalism-section h2 {
    font-size: 2.5rem;
  }

  .section-tours-title h3,
  .professionalism-section h3,
  .quality-section h2 {
    font-size: 1.5rem;
  }

  .section-tours-title p,
  .professionalism-section p {
    font-size: 1.3rem;
  }

  .container-tools img {
    width: 15rem;
  }

  .container-tools .img3 {
    left: 1.5rem;
    height: 10rem;
  }

  .section-tours-title strong {
    font-size: 1.5rem;
  }

  .section-tours {
    grid-template-columns: repeat(2, 1fr);
  }

  .check-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .quality-section > article > h3 {
    font-size: 3rem;
  }

  .quality-section > article > div p {
    font-size: 1.5rem;
  }

  .quality-section > article > div p strong {
    font-size: 1.7rem;
  }

  footer {
    grid-template-columns: repeat(1, 1fr);
  }

  footer div {
    border-left: solid var(--orange);
    padding-left: 0;
    padding: 1rem;
  }

  footer h2 {
    margin-top: 1rem;
    font-size: 1.2rem;
  }

  footer > div a {
    font-size: 1rem;
  }

  footer > div p {
    font-size: 1rem;
  }

  .col1,
  .col2,
  .col3 {
    border-top: 3px solid var(--orange);
    border-left: none;
    margin-left: 0;
  }
}

.input-image {
  border: none;
}

.img-ferreteria-about {
  width: 350px;
  height: 300px;
}

.mapFerreteria {
  width: 600px;
  height: 400px;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 20rem;
  margin-right: 10rem;
}

#boton-container {
  background-color: #f8f8f8;
  position: relative;
  width: 80px;
  height: 40px;
  box-shadow: inset 4px 4px 6px #cecece, inset -4px -4px 6px #fff;
  margin: 0 auto;
  margin-top: 350px;
  border-radius: 25px;
  cursor: pointer;
}

.toggle {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  transform: scale(0.7);
  background-color: linear-gradient(145deg, #d8d8d8, #ffffff);
  border-radius: 25px;
  box-shadow: 3px 3px 8px #c4c4c4, -3px -3px 8px #fff;
  transition: 0.5s ease;
}

#container.active .toggle {
  left: 40px;
}

/*------------------Dark Mode------------ */
body.active {
  background-color: #000;
  color: #fff;
}

.switch-btn {
  font-size: 3rem;
  cursor: pointer;
}

.switch-btn.moon {
  color: var(--white);
}

body.dark {
  background: radial-gradient(rgb(74, 78, 87), rgb(43, 45, 49));

  .main-contact-section {
    border-bottom: 2px solid var(--orange);
  }

  & .nav__toggle-btn {
    color: white;
  }

  .main-contact-section a {
    color: var(--orange);
  }

  & h1:not(.light),
  h2:not(.light),
  h3:not(.light),
  p {
    color: #fff;
  }

  & h2.light,
  & h1.light {
    color: var(--color-tertiary-dark);
  }

  & nav,
  & .product {
    background-color: rgba(255, 255, 255, 0.12);
  }

  & input:not(input[type="file"]),
  & textarea,
  & select {
    background-color: rgba(255, 255, 255, 0.12);
    color: #fff;
  }

  & input::placeholder,
  & textarea::placeholder,
  & select::placeholder {
    color: #fff;
  }

  & .nav__menu a {
    color: var(--color-bg);
  }

  & .contact-link {
    color: #fff;
  }

  & .contact-link:hover {
    color: #ff7730;
  }

  & .card {
    background-color: none;
  }

  & .card__side--front {
    background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
  }

  & .card__heading {
    color: #fff;
  }

  & .card__details h3 {
    color: #ffffff;
  }

  & .card__details ul li {
    color: #fff;
  }

  & .card__price-box {
    color: #fff;
  }

  & .card__price-only {
    color: #fff;
  }

  & .card__price-value {
    color: #fff;
  }

  & .btn {
    background-color: var(--color-secondary-dark);
    color: #fff;
  }

  & .btn:hover {
    background-color: var(--color-tertiary-light);
    color: #fff;
  }

  & .btn--white {
    background-color: #ffffff;
    color: #000000;
  }

  & .btn--white:hover {
    background-color: #424242;
    color: #fff;
  }

  & .quality-section {
    background-color: rgba(255, 255, 255, 0.3);
  }

  & .meet-us {
    background-color: rgba(255, 255, 255, 0.16);

    h3 {
      color: var(--orange);
    }

    .right-container link {
      background-color: var(--orange);
    }

    .darkInfo {
      background-color: var(--orange);
    }
  }

  & select {
    background-color: rgba(255, 255, 255, 0.08);
    border: 1px solid rgb(211, 211, 211);
  }

  & option {
    color: #000;
  }

  & footer {
    background-color: rgba(255, 255, 255, 0.08);
  }
}

/*Contacto*/

.map-image {
  width: 600px;
  margin-top: 22rem;
  border-radius: 5px;
  border: 2px solid black;
}

@media screen and (max-width: 768px) {
  .map-image {
    margin-right: 25rem;
    margin-top: -10rem;
  }

  .form-section {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(1, 1fr);
  }

  .form-container {
    width: 70%;
    margin-right: 30rem;
  }
}

@media screen and (max-width: 480px) {
  .map-image {
    width: 50%;
    height: 170px;
    margin-right: 300px;
    margin-bottom: 5rem;
  }

  .form-section {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(1, 1fr);
  }

  .form-container {
    width: 50%;
    margin-right: 30rem;
    margin-top: -3rem;
  }

  .form-container legend {
    text-align: center;
  }

  .header-contact h1 {
    font-size: 3.3rem;
  }

  .header-contact button {
    width: 10rem;
    height: 5rem;
    margin-right: 2rem;
  }
}

@media screen and (width=820px) {
  .map-image {
    margin-right: 25rem;
    margin-top: -10rem;
  }

  .form-section {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(1, 1fr);
    padding-left: 12rem;
  }

  .form-container {
    width: 70%;
    margin-right: 30rem;
  }
}

@media screen and (width=1024px) {
  .map-image {
    width: 450px;
  }
}

/* LOADER */

.loader {
  position: absolute;
  top: 20rem;
  left: 50%;
}
.meet-us {
  position: relative;
}

.images-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin-top: 2rem;

  & img {
    position: relative;
    top: 15rem;
    border-radius: 2rem;
  }
}
@media (max-width: 492px ) {
    .right-container {
      display: flex;
      flex-direction: column;
    }
}

.meet-us {
  height: fit-content;
}

@media (max-width: 768px) {
  .images-container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
