<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sldier</title>
  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
  <script src="https://kit.fontawesome.com/c8e4d183c2.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/styles/IdeasDescartadas.css">
</head>

<body>
    <body>
        
      
        <section id="team">
      
          <strong class="team-heading">Our Team</strong>
      
          <div class="team-box-container">
      
              <div class="member-box member-1">
      
                  <div class="member-img">
      
                      <img src="/assets/img/t1-1.jpg">
      
                      <img class="hover-img" src="/assets/img/t1-2.jpg">
              </div>
      
              <div class="member-name">
                <h3>Daniel Radcliffe</h3>
                <h5>Executive Director | Tech & Creative Lead</h5>
              </div>
            </div>
      
            <div class="member-box member-2">
      
              <div class="member-img">
      
                  <img src="/assets/img/t2-a.jpg">
      
                  <img class="hover-img" src="/assets/img/t2-b.jpg">
              </div>
      
              <div class="member-name">
                <h3>Pola Rokanov</h3>
                <h5>Executive Director | Tech & Creative Lead</h5>
              </div>
            </div>
      
            <div class="member-box member-3">
      
              <div class="member-img">
      
                  <img src="/assets/img/t3-a.jpg">
      
                  <img class="hover-img" src="/assets/img/t3-b.jpg">
              </div>
      
              <div class="member-name">
                <h3>Fonso Schevchenco</h3>
                <h5>Executive Director | Tech & Creative Lead</h5>
              </div>
            </div>
      
            <div class="member-box member-4">
      
              <div class="member-img">
      
                  <img src="/assets/img/t4-a.jpg">
      
                  <img class="hover-img" src="/assets/img/t4-b.jpg">
              </div>
      
              <div class="member-name">
                <h3>Adrian Ivanova</h3>
                <h5>Executive Director | Tech & Creative Lead</h5>
              </div>
            </div>
      
            <div class="member-box member-5">
      
              <div class="member-img">
      
                  <img src="/assets/img/t5-a.jpg">
      
                  <img class="hover-img" src="/assets/img/t5-b.jpg">
              </div>
      
              <div class="member-name">
                <h3>Pablo Popova</h3>
                <h5>Executive Director | Tech & Creative Lead</h5>
              </div>
            </div>
      
            <div class="member-box member-6">
      
              <div class="member-img">
      
                  <img src="/assets/img/t6-a.jpg">
      
                 <img class="hover-img" src="/assets/img/t6-b.jpg">
              </div>
      
              <div class="member-name">
                <h3>Haland Kmocha</h3>
                <h5>Executive Director | Tech & Creative Lead</h5>
              </div>
            </div>
      
            <div class="detail-box-1">
              <div class="member-detail-box">
      
                  <div class="detail-box-img">
                  <img src="/assets/img/t1-1.jpg">
                </div>
      
                <div class="detail-box-text">
      
                  <a href="javascript:void(0);" class="cancel">
                    <i class="fas fa-times"></i>
                  </a>
      
                  <a href="#" class="detail-name">Daniel Radcliffe</a>
      
                  <div class="member-social-links">
      
                      <a href="#"><i class="fab fa-facebook-f"></i></a>
      
                      <a href="#"><i class="fab fa-instagram"></i></a>
                  </div>
      
                  <h5 class="position">Position: Executive Director</h5>
      
                  <p>The man who pulls all the strings in making all your ideas come to live! If he says, its possible - it's
                    possible. He's very dependable, energetic, humourous and passionate. Loves leading projects with full
                    stack development skills on the side. Share your ideas with him and he will make it happen.</p>
      
                    <a href="#" class="view-work-btn">View Work</a>
                </div>
              </div>
            </div>
      
            <div class="detail-box-2">
              <div class="member-detail-box">
      
                  <div class="detail-box-img">
                  <img src="/assets/img/t2-b.jpg">
                </div>
      
                <div class="detail-box-text">
      
                  <a href="javascript:void(0);" class="cancel">
                    <i class="fas fa-times"></i>
                  </a>
      
                  <a href="#" class="detail-name">Pola Rokanov</a>
      
                  <div class="member-social-links">
      
                      <a href="#"><i class="fab fa-facebook-f"></i></a>
      
                    <a href="#"><i class="fab fa-instagram"></i></a>
                  </div>
      
                  <h5 class="position">Position: Executive Director</h5>
      
                  <p>The man who pulls all the strings in making all your ideas come to live! If he says, its possible - it's
                    possible. He's very dependable, energetic, humourous and passionate. Loves leading projects with full
                    stack development skills on the side. Share your ideas with him and he will make it happen.</p>
      
                    <a href="#" class="view-work-btn">View Work</a>
                </div>
              </div>
            </div>
      
            <div class="detail-box-3">
              <div class="member-detail-box">
      
                  <div class="detail-box-img">
                  <img src="/assets/img/t3-b.jpg">
                </div>
      
                <div class="detail-box-text">
      
                  <a href="javascript:void(0);" class="cancel">
                    <i class="fas fa-times"></i>
                  </a>
      
                  <a href="#" class="detail-name">Fonso Schevchenco</a>
      
                  <div class="member-social-links">
      
                      <a href="#"><i class="fab fa-facebook-f"></i></a>
      
                      <a href="#"><i class="fab fa-instagram"></i></a>
                  </div>
      
                  <h5 class="position">Position: Executive Director</h5>
      
                  <p>The man who pulls all the strings in making all your ideas come to live! If he says, its possible - it's
                    possible. He's very dependable, energetic, humourous and passionate. Loves leading projects with full
                    stack development skills on the side. Share your ideas with him and he will make it happen.</p>
      
                    <a href="#" class="view-work-btn">View Work</a>
                </div>
              </div>
            </div>
      
            <div class="detail-box-4">
              <div class="member-detail-box">
      
                  <div class="detail-box-img">
                  <img src="/assets/img/t4-b.jpg">
                </div>
      
                <div class="detail-box-text">
      
                  <a href="javascript:void(0);" class="cancel">
                    <i class="fas fa-times"></i>
                  </a>
      
                  <a href="#" class="detail-name">Adri Ivanova</a>
      
                  <div class="member-social-links">
      
                      <a href="#"><i class="fab fa-facebook-f"></i></a>
      
                      <a href="#"><i class="fab fa-instagram"></i></a>
                  </div>
      
                  <h5 class="position">Position: Executive Director</h5>
      
                  <p>The man who pulls all the strings in making all your ideas come to live! If he says, its possible - it's
                    possible. He's very dependable, energetic, humourous and passionate. Loves leading projects with full
                    stack development skills on the side. Share your ideas with him and he will make it happen.</p>
      
                    <a href="#" class="view-work-btn">View Work</a>
                </div>
              </div>
            </div>
      
            <div class="detail-box-5">
              <div class="member-detail-box">
      
                  <div class="detail-box-img">
                  <img src="/assets/img/t5-b.jpg">
                </div>
                <div class="detail-box-text">
      
                  <a href="javascript:void(0);" class="cancel">
                    <i class="fas fa-times"></i>
                  </a>
      
                  <a href="#" class="detail-name">Pablo Popova</a>
      
                  <div class="member-social-links">
      
                      <a href="#"><i class="fab fa-facebook-f"></i></a>
      
                    <a href="#"><i class="fab fa-instagram"></i></a>
                  </div>
      
                  <h5 class="position">Position: Executive Director</h5>
      
                  <p>The man who pulls all the strings in making all your ideas come to live! If he says, its possible - it's
                    possible. He's very dependable, energetic, humourous and passionate. Loves leading projects with full
                    stack development skills on the side. Share your ideas with him and he will make it happen.</p>
      
                    <a href="#" class="view-work-btn">View Work</a>
                </div>
              </div>
            </div>
      
            <div class="detail-box-6">
              <div class="member-detail-box">
      
                  <div class="detail-box-img">
                  <img src="/assets/img/t6-b.jpg">
                </div>
      
                <div class="detail-box-text">
      
                   <a href="javascript:void(0);" class="cancel">
                    <i class="fas fa-times"></i>
                  </a>
      
                  <a href="#" class="detail-name">Haland Kmocha</a>
      
                  <div class="member-social-links">
      
                      <a href="#"><i class="fab fa-facebook-f"></i></a>
      
                    <a href="#"><i class="fab fa-instagram"></i></a>
                  </div>
                      
                  <h5 class="position">Position: Executive Director</h5>
      
                  <p>The man who pulls all the strings in making all your ideas come to live! If he says, its possible - it's
                    possible. He's very dependable, energetic, humourous and passionate. Loves leading projects with full
                    stack development skills on the side. Share your ideas with him and he will make it happen.</p>
      
                    <a href="#" class="view-work-btn">View Work</a>
                </div>
              </div>
            </div >
          </div>
        </section>
      
</body>
<script src="/scripts/index.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script src="/scripts/scriptWor.js"></script>

</html>