@font-face {
    font-family: Montserrat;
    src: url(/assets/fonts/Montserrat/Montserrat-Bold.ttf);
}

body {
    height: 100vh;
    font-family: Montserrat;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    align-items: center;
    background-color: #f0f0f0;
}

.left-side {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.acceso{
    position: relative;
    font-size: 50px;
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 0 auto;
}
.bloqueado{
    position: relative;
    margin: 0 auto;
    font-size: 50px;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.tools {
    grid-row-start: 2;
    grid-row-end: 3;
    width: 150px;
}

.indice {
    width: 200px;

    animation: handMove 1s alternate-reverse ease-in-out 4, fadeOut 1.5s ease 4s forwards, point 2s alternate-reverse ease-in-out 5s infinite;
}



.line-acceso {
    position: absolute;
    z-index: 1;
    width: 318px;
    height: 17px;
    background-color: rgb(242, 148, 0);
    top: 8rem;
    left: 3rem;
}

.line-bloqueado {
    position: absolute;
    z-index: 1;
    width: 490px;
    height: 17px;
    background-color: rgb(242, 148, 0);
    top: 8.2rem;
    left: 4rem;
}

.logo {
    width: 500px;
    opacity: 0;

    animation: fadeIn 2s ease 5s 1 normal forwards;
}

@keyframes tachar {
    from {
        width: 0ch;
    }

    to {
        width: 5ch;
    }
}

@keyframes tachar2 {
    from {
        width: 0ch;
    }

    to {
        width: 7.8ch;
    }
}

@keyframes fadeOut {
    from {
        transform: rotate(0deg);

    }

    to {
        transform: rotate(-120deg);

    }
}

@keyframes handMove {
    0% {
        transform: rotate(20deg);
        transform-origin: bottom;
    }

    100% {
        transform: rotate(-30deg);
        transform-origin: bottom;
    }
}

@keyframes point {

    0%,
    100% {
        transform: rotate(-120deg) translateY(0);
    }

    50% {
        transform: rotate(-120deg) translateY(30px);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.6);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}